.login-form {
  padding-top: 200px;
    padding-bottom: 200px;
}
.comment-form {
    top: 500px;
    position: absolute;
    left: 165px;
}
.authors{
    top: 75px;
    left: 200px;
    position: absolute;
}
.content{
    padding-top: 10px;
    padding-left: 45px;
    width: 100%;
}

.vcenter {
    padding-top: 15px;
}
.footer{
    border: solid;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
.footer-text{
    padding-top: 10px;
    text-align: center;
}
.news {
    padding-top: 25px;
}
.deletebutton{
    padding-top: 25px;
}

.tag-managing{
    padding-top: 100px;
    padding-bottom: 150px;
}
.add {
padding-top: 15px;
}
.managing{
    padding-top: 50px;
    padding-bottom: 75px;
}
.error-container{
    padding-bottom: 315px;
}
#footer {
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
}
.page-wrap:after {
    content: "";
    display: block;
}